<%= render "shared/header" %>

<main>
  <div>
    <div class="container">
      <div class="contents">
        <div class="trip-images">
          <div class="trip-image1">
            <%= image_tag "nature1.png", class:"trip-image" %>
          </div>
          <div class="trip-image2">
            <%= image_tag "yakei2.png", class:"trip-image" %>
          </div>
        </div>
        <div class="message">
          <%# <div class="message-text"> %>
            <p>新しい旅の計画を立てませんか？</p>
          <%# </div> %>
          <button type="button" class="btn btn-primary">立てる！</button>
          <%# <p>かわいい猫たちのフォトギャラリーをご覧ください。</p> %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= render "shared/footer" %>
