.trip-all {
  display: flex;
  padding: 15px 0px;
}

.trip-left {
  width: 60%;
}

.button {
  display: flex;
}

.right-button {
  margin-left: 5px;
}

.trip-content {
  font-size: 18px;
  background-color: white;
  padding: 15px;
}

.detail-input {
  margin-top: 20px;
}

.new-trip-form-wrap {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 10px;
}

.new-trip-form-header {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #444;
  font-size: 20px;
}

.schedule-make-button {
  width: 30%;
  margin: 20px auto;
}

.form-group-detail {
  display: flex;
  height: 100px;
}

.form-detail {
  margin: 15px 10px 0;
}

.form-detail-title {
  width: 20%;
}

.form-detail-title-note {
  width: 30%;
}

.form-detail-address {
  width: 50%;
}

.form-detail-datetime {
  width: 40%;
}

.form-detail-time-note {
  width: 30%;
}

.form-detail-importance {
  width: 30%;
}

.form-detail-url {
  width: 100%;
}

.schedule-lists {
  height: 60px;
  font-size: 20px;
  margin: 20px 0;
  background-color: white;
  border-radius: 10px;
  line-height: 60px;
  padding: 5px;
}

.trip-details-first-raw {
  display: flex;
}

.detail-time {
  margin-left: 15px;
  font-weight: bold;
}

.trip-detail-contents-wrap {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border: 1px solid black;
}

.weather-content {
  width: 40%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.every-3hours-weather {
  height: 50%;
  display: flex;
  justify-content: space-between;
  border: 1px solid brown;
}

.days-weather {
  height: 50%;
  border: 1px solid aqua;
  display: flex;
  justify-content: space-between;
}
