.trip-all {
  display: flex;
  padding: 15px 0px;
}

.trip-left {
  width: 60%;
}

.button {
  display: flex;
}

.right-button {
  margin-left: 5px;
}

.trip-content {
  /* border: 1px solid black; */
  font-size: 18px;
  background-color: white;
  padding: 15px;
}

.detail-input {
  margin-top: 20px;
}

.new-trip-form-wrap {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 10px;
}

.new-trip-form-header {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #444;
  font-size: 20px;
}

.schedule-make-button {
  width: 30%;
  margin: 20px auto;
}

.form-group-detail {
  display: flex;
  height: 100px;
  /* border-bottom: 1px solid #00f; */
}

.form-detail {
  margin: 15px 10px 0;
}

.form-detail-title {
  width: 30%;
}

.form-detail-title-note {
  width: 70%;
}

.form-detail-address {
  width: 100%;
}

.form-detail-date {
  width: 25%;
}

.form-detail-time {
  width: 25%;
}

.form-detail-time-note {
  width: 50%;
}

.form-detail-url {
  width: 70%;
}

.form-detail-importance {
  width: 30%;
}

.schedule-lists {
  height: 60px;
  font-size: 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  line-height: 60px;
  padding: 5px;
}
