.trip-all {
  display: flex;
  padding: 15px 0px;
}

.trip-left {
  width: 60%;
}

.button {
  display: flex;
}

.right-button {
  margin-left: 5px;
}

.trip-content {
  font-size: 18px;
  background-color: white;
  padding: 15px;
}


/* マップ表示部分 */

.map {
  /* height: 100%; */
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.route-map {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.select-route {
  width: 100%;
  display: flex;
  align-items: center;
}

.select-route-btn {
  padding: 15px;
}

.route-map-area {
  height: 300px;
  width: 500px;
}

.current-map {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.select-option {
  width: 100%;
  display: flex;
  align-items: center;
}

.select-option-btn {
  padding: 15px;
}

.current-map-area {
  height: 300px;
  width: 300px;
}


/* 詳細スケジュール入力フォーム */

.detail-input {
  margin-top: 20px;
}

.new-trip-form-wrap {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 10px;
}

.new-trip-form-header {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #444;
  font-size: 20px;
}

.schedule-make-button {
  width: 30%;
  margin: 20px auto;
}

.form-group-detail {
  display: flex;
  height: 100px;
}

.form-detail {
  margin: 15px 10px 0;
}

.form-detail-title {
  width: 20%;
}

.form-detail-title-note {
  width: 30%;
}

.form-detail-address {
  width: 50%;
}

.form-detail-datetime {
  width: 40%;
}

.form-detail-time-note {
  width: 30%;
}

.form-detail-importance {
  width: 30%;
}

.form-detail-url {
  width: 100%;
}


/* 詳細スケジュールの一覧表示 */

.schedule-lists {
  height: 60px;
  font-size: 20px;
  margin: 20px 0;
  background-color: white;
  border-radius: 10px;
  line-height: 60px;
  padding: 5px;
}

.trip-details-first-raw {
  display: flex;
}

.detail-time {
  margin-left: 15px;
  font-weight: bold;
}

.trip-detail-contents-wrap {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}


/* 天気表示部分 */

.weather-content {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.every-3hours-weather {
  height: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  border: 1px solid brown;
}

.hourly-weather {
  width: 16.5%;
  display: flex;
  flex-direction: column;
}

.hourly-time {
  height: 15px;
  text-align: center;
  margin-bottom: 0;
}

.hourly-content {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 0;
  /* height: 75%; */
}

.hourly-icon {
  margin-left: 2px;
  height: 80%;
  width: 40%;
  margin-bottom: 0;
}

.hourly-temperature {
  height: 30px;
  width: 60%;
  line-height: 30px;
  text-align: center;
}

.three-days-weather {
  height: 50%;
  border: 1px solid aqua;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.daily-weather {
  width: 33.3%;
  display: flex;
  flex-direction: column;
}

.day {
  height: 35%;
  text-align: center;
  margin-bottom: 0;
}

.daily-content {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 0;
  height: 65%;
}

.daily-icon {
  margin-left: 2px;
  height: 100%;
  width: 30%;
  margin-bottom: 3px;
}

.daily-temperature {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  /* border: 1px solid green; */
}

.daily-high-temperature {
  height: 50%;
  /* line-height: 100%; */
  color: red;
  font-weight: bold;
  margin-bottom: 0;
}

.daily-low-temperature {
  height: 50%;
  color: #00c4ff;
  font-weight: bold;
  margin-bottom: 0;
}

.daily-sun {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daily-sunrise {
  height: 50%;
  color: red;
  margin-bottom: 0;
}

.daily-sunset {
  height: 50%;
  color: #00c4ff;
  margin-bottom: 0;
}
