<%= render "shared/header" %>

<main>
  <div>
    <div class="container">
      <div class="contents">
        <div class="trips">
          <p class="trip-title-view"><%= @nickname %>さんの旅行一覧</p>
          <%= render @trips %>
        </div>
      </div>
    </div>
  </div>
</main>


<%= render "shared/footer" %>
