<header>
    <div class="header-contents">
      <div class="left-contents">
        <ion-icon name="airplane"></ion-icon>
        <%= link_to "たびなび", "/", class:"logo" %>
        <a class="new-trip-button" href="#">新規作成</a>
      </div>
      <div class="right-contents">
          <%# TODO ログアウト状態でこちらを表示 %>
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary">新規登録</button>
            <button type="button" class="btn btn-outline-primary">ログイン</button>
          </div>
          <%# ログイン状態でこちらを表示 %>
          <%# <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary">マイページ</button>
            <button type="button" class="btn btn-outline-primary">ログアウト</button>
          </div> %>
      </div>
    </div>
</header>
