.trip-title-view {
  padding: 10px 0px;
  font-size: 24px;
}

.trip-title-group {
  height: 7vh;
  display: flex;
  align-items: center;
}

.trip-title {
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 20px;
}

.trip-contents-wrap {
  display: flex;
  align-items: center;
  /* margin-bottom: 15px; */
  border: 1px solid black;
}

.trip-contents {
  width: 50%;
  font-size: 18px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
}

.trip-date {
  margin-left: 5px;
  /* width: 20%; */
}

.companion-lists {
  margin-left: 10px;
}
